

/*MAIN BODY AND GLOBAL CSS*/

html{
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
	background-color:white;
	min-height:660px;
	overflow:hidden;
	/*BORDER NEEDS DEEP CONSIDERATION*/
	/*border:1px solid #4d4d4d; */
}
*{
	font-family:'Helvetica Neue','Apple SD Neo Gothic';
	font-size:14px;
	position:relative;
	box-sizing: border-box;
	-webkit-user-select: none;
    cursor:default;
/*        text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';*/
}
.cb{
    clear:both;
}
#window-action{
	float:right;
	margin-right:8px;
	margin-top:16px;
	width:98px;
	height:20px;
	position:relative;
	-webkit-app-region: no-drag !important;
}

.window-btn{
	width:23px;
	height:20px;
	float:left;
	cursor:pointer;
	margin-right:4px;
}

.window-btn:hover{
	background-color:#efefef !important;
}

#window-min{
	background:url('../images/min.png') 50% 50% no-repeat;
}
#window-max{
	background:url('../images/max.png') 50% 50% no-repeat;
}
#window-max-off{
	background:url('../images/max-off.png') 50% 50% no-repeat;
}
#window-close{
	background:url('../images/close.png') 50% 50% no-repeat;
	width:36px;
	margin-top:-3px;
	margin-right:0;
}

#indegs-guide{
    width:100%;
}
#indegs-guide-nbsp{
    height:0;
    opacity:0;
}
#guide-next-btn{
    right: 20px;
    position: absolute;
    padding: 5px 10px;
    margin-top: -13px;
    top: 50%;
    background-color: white;
    z-index: 1;
}


#initialize-text{
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
    color: black;
    font-weight: 300;
    font-family: 'Lato';
}
#initialize-holder{
    width:500px;
    padding:3px;
    border:1px solid #d2d2d2;
    border-radius:3px;
    margin:0 auto;
}
#initialize-bar{
    height:5px;
    background-color:black;
    animation:loading 20s infinite;
    transition:0.5s all ease;
}

@keyframes loading {
    0%   {width:0}
    14%   {width:100%}
    15%   {width:0}
    18%   {width:100%}
    19%   {width:0;}
    28%   {width:100%}
    29%   {width:75%}
    31%   {width:100%}
    32%   {width:56%;}
    36%   {width:100%}
    37%   {width:13%}
    54%   {width:100%}
    55%   {width:0}
    72%   {width:100%}
    73%   {width:0}
    77%   {width:100%}
    78%   {width:0;}
    81%   {width:100%}
    82%   {width:85%}
    88%   {width:100%}
    89%   {width:41%}
    95%   {width:100%}
    96%   {width:0}
    100% {width:100%}
}

#initial-guide{
    width:100%;
    position:absolute;
    top:50%;
}
#initial-guide-title{
    text-align: center;
    font-size: 70px;
    font-weight: 200;
    font-family: 'Lato';
}
#initial-guide-subtitle{
    text-align: center;
    margin: 0 auto;
    margin-top: -20px;
    font-size: 70px;
    font-weight: 500;
    font-family: 'Lato';
    color: #000000;
    margin-bottom: 10px;
    letter-spacing: -1.86px;
}
.initial-guide-text{
    text-align: center;
    color: #000000;
    font-weight: 300;
    font-size: 15px;
    width: 500px;
    margin: 0 auto;
    font-family: 'Lato';
}
#initial-guide-text{
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ADADAD;
}
#guide-start-holder{
    width: 70px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px;
    height: 35px;
    border-radius: 10px;
}
#initial-guide-start{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    float: left;
    line-height: 11px;
    color: #232323;
}
#initial-guide-btn{
    background:url('../images/next-hover.png') 50% 50% no-repeat;
    width:5px;
    height:15px;
    float:right;
}

.guide-title{
    font-size: 50px;
    text-align: left;
    font-weight: 200;
    font-family: 'Lato';
    letter-spacing: -1.86px;
    color: #2a2a2a;
    line-height: 53px;
}
.guide-subtitle{
    font-size: 50px;
    text-align: left;
    font-weight: 100;
    font-family: 'Lato';
    letter-spacing: -1.86px;
    color: #5c5c5c;
    margin-bottom: 20px;
}
.guide-space{
    width:100%;
    height:20px;
}
.guide-text{
    font-size: 15px;
    text-align: left;
    color: #9e9e9e;
    font-weight: 200;
    font-family: 'Lato';
    line-height:20px;
}

#guide-loader-holder{
    margin: 0 auto;
    margin-top: 40px;
    width: 265px;
    height: 30px;
}
#initial-guide-loader-text{
    font-size: 15px;
    font-family: 'Lato';
    font-weight: 200;
    float: left;
    line-height: 30px;
    color: #4A4A4A;
}

#initial-guide-loader{
    background: url('../images/loader.gif') 53% 49% no-repeat;
    width: 30px;
    height: 30px;
    background-size: 100px;
    float: right;
}



#design-page-guide{
    width: 1440px;
    padding-left: 80px;
    position: absolute;
    top: 50%;
    margin-left: -720px;
    left: 50%;
}
#version-create-guide{
    width: 1630px;
    padding-left: 80px;
    position: absolute;
    top: 50%;
    margin-left: -815px;
    left: 50%;
}
#version-page-guide{
    width: 1120px;
    padding-left: 80px;
    position: absolute;
    top: 50%;
    margin-left: -560px;
    left: 50%;
}
#version-gc-guide{
    width: 1220px;
    padding-left: 80px;
    position: absolute;
    top: 50%;
    margin-left: -610px;
    left: 50%;
}

@media (max-width:1440px){
    #design-page-guide{
        width:100%;
        left:0;
        margin:0;
    }
}
@media (max-width:1630px){
    #version-create-guide{
        width:100%;
        left:0;
        margin:0;
    }
}
@media (max-width:1120px){
    #version-page-guide{
        width:100%;
        left:0;
        margin:0;
    }
}
@media (max-width:1220px){
    #version-gc-guide{
        width:100%;
        left:0;
        margin:0;
    }
}





#design-page-image{
    width: 800px;
    height: auto;
    position: absolute;
    z-index: -1;
    left: 560px;
    margin-top: -700px;
    top: 50%;
    opacity:0;
    transition:0.6s margin cubic-bezier(.81,.26,.1,1.02), 0.6s opacity cubic-bezier(.81,.26,.49,.98);
}
#version-create-image{
    width: 900px;
    height: auto;
    position: absolute;
    z-index: -1;
    left: 1500px;
    margin-top: -186px;
    top: 50%;
    opacity:0;
    transition:0.6s left cubic-bezier(.81,.26,.1,1.02), 0.6s opacity cubic-bezier(.81,.26,.49,.98);
}
#revert-guide-image{
    width: 430px;
    height: auto;
    position: absolute;
    z-index: -1;
    left: 620px;
    margin-top: 700px;
    top: 50%;
    opacity:0;
    transition:0.6s margin cubic-bezier(.81,.26,.1,1.02), 0.6s opacity cubic-bezier(.81,.26,.49,.98);
}
#gc-guide-image{
    width: 600px;
    height: auto;
    position: absolute;
    z-index: -1;
    left: 550px;
    margin-top: -700px;
    top: 50%;
    opacity:0;
    transition:0.6s margin cubic-bezier(.81,.26,.1,1.02), 0.6s opacity cubic-bezier(.81,.26,.49,.98);
}
#git-message{
    width: 250px;
    height: 92px;
    background: url('../images/git-message.png') 50% 50% no-repeat;
    background-size: contain;
    margin-top: 15px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 2px 3px #ABABAB;
}

.previous-holder{
    width: 60px;
    margin-top: 40px;
    padding: 10px;
    padding-left: 0;
    height: 35px;
    float:left;
    margin-right:30px;
}
.previous-text{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 200;
    float:right;
    line-height: 13px;
    color: #232323;
}
.previous-btn{
    background:url('../images/next.png') 50% 50% no-repeat;
    width:5px;
    height:15px;
    float:left;
    transform:rotate(180deg);
}


.next-holder{
    width: 60px;
    margin-top: 40px;
    padding: 10px;
    padding-left: 0;
    height: 35px;
    float:left;
}
.next-text{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    float: left;
    line-height: 13px;
    color: #232323;
}
.next-btn{
    background:url('../images/next-hover.png') 50% 50% no-repeat;
    width:5px;
    height:15px;
    float:right;
}

/*SCROLLBAR FINISH
전역으로 사용되는 스크롤바 CSS 작업*/

/*::-webkit-scrollbar {
    width: 15px;
    background-color:#fff;
}*/
/*::-webkit-scrollbar-button{
	border-left:1px solid #d3d3d3;
	background:url('../images/scroll-up.png') 50% 50% no-repeat;
}
::-webkit-scrollbar-button:end{
	border-left:1px solid #d3d3d3;
	background:url('../images/scroll-down.png') 50% 50% no-repeat;
}
::-webkit-scrollbar-track {
    background-color: #fcfcfc;
    border-left:1px solid #d3d3d3;
}
::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    box-shadow:inset 0px 0px 0px 2px white;
    border-left:1px solid #d3d3d3;
}
::-webkit-scrollbar-thumb:hover {
    background-color:#818181;
}*/


/*top fixed bar css*/

#top{
	z-index:10000;
	width:100%;
	top:0;
	background:#fff;	
}

#system{
	width:100%;
	height:50px;
	position:relative;
	background:linear-gradient(to bottom,#fff 0%, #f7f7f7 100%);
    border-bottom: 1px solid #d8d8d8;
	-webkit-app-region: drag !important;
}
#main-route{
    width: 240px;
    height: 26px;
    position: absolute;
    margin-left: -120px;
    margin-top: 12px;
    left: 50%;
    overflow: hidden;
}
.route-btn{
	float: left;
    width: calc(100%/3);
    font-weight: 300;
    font-size: 12px;
    height: 100%;
    color: #000000;
    line-height: 24px;
    background-color: white;
    text-align: center;
    letter-spacing: 0.5px;
}
.route-btn:first-child{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border:1px solid #d3d3d3;
}
.route-btn:nth-child(2){
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
}
.route-btn:last-child{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border:1px solid #d3d3d3;
}
.route-btn-selected{
	color: white;
    font-weight: 200;
    border:1px solid #696969 !important;
    background: #292929;
}

#logo{
	position:absolute;
	margin-left:-15px;
	width:30px;
	height:19px;
	left:50%;
	margin-top:-9px;
	top:50%;
	background: url('../images/icon.png') 50% 50% no-repeat;
	background-size:contain;
}

/*<Header /> <User />*/
#header-user{
    float: right;
    padding:10px;
    height:100%;
    padding-right: 20px;
}
#header-user #title{
    font-size: 13px;
    line-height:30px;
    padding: 0px 10px;
    float: left;
    cursor: pointer;
}
#header-user #off-pic{
    float: left;
    height: 30px;
    width: 30px;
    overflow:hidden;
    /* background-color: white; */
    border-radius: 3px;
    border: 1px solid #ABABAB;
}
#header-user #user-pic img{
    width:100%;
    height:auto;
}
/*<Header /> <LoginBox />*/
#login-holder{
    position: absolute;
    right: 0px;
    left: -90px;
    z-index: 100;
    top: 45px;
    width: 200px;
    padding: 0 15px;
    background-color: white;
    border: 1px solid #D8D8D8;
}

#login-title{
    padding-top: 30px;
    margin-bottom: 14px;
    padding-left: 3px;
    font-size: 14px;
    text-align: center;
}
#login-email-input,#login-pw-input{
    width: 100%;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 6px;
    border: none;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    font-size: 12px;
    display: block;
    outline: none;
}
#login-holder input::-moz-placeholder{
    font-weight:200;
}
#login-holder input:-webkit-input-placeholder{
    font-weight:200;
}

#login-holder input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    color: #42abff;
}

#login-submit{
    width: 100%;
    height: 35px;
    line-height: 34px;
    color: #000000;
    border: 1px solid #E0E0E0;
    background: linear-gradient(#FFFFFF,#F1F1F1);
    border-radius: 4px;
    text-align: center;
    margin: 15px 0;
    font-size: 12px;
}
#login-submit:hover{
    background:#f3f3f3;
}

#login-remember{
    margin-top:10px;
}

#login-remember-input{
    margin:0;
}
#login-remember #text{
    font-size: 12px;
    margin-left: 5px;
    color: #B1B1B1;
}
#login-signup{
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-top: 1px solid #d3d3d3;
}

#login-signup span{
    color:#42abff;
    font-size:12px;
}
#login-signup span:hover{
    text-decoration: underline;
}



/*<User /> <OnBtn />*/
#header-user #login-on-btn{

}

/*<UserPic />*/
#header-user #image-holder{
    padding-left: 10px;
    width: 40px;
    height: 30px;
    overflow: hidden;
    float: left;
    border-left: 1px solid #CACACA;
}

#header-user #loader{
    width:30px;
    height:40px;
    background-color:#f3f3f3;
}
#header-user #image{
    width:100%;
    height:auto;
    border-radius:4px;
}


#profile-modal{
    position: absolute;
    right: 0;
    top: 45px;
    width: 200px;
    padding: 20px 15px;
    padding-bottom: 0px;
    background-color: white;
    border: 1px solid #d8d8d8;
    z-index: 100;
}

#profile-modal #name{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
#profile-modal #email{
    font-size: 11px;
    line-height: 14px;
    color: #9C9C9C;
}
#profile-modal #link{
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #d3d3d3;
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
}
#profile-modal #link-title{
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}
#profile-modal #link-input{
    width: 100%;
    font-size: 12px;
    height: 25px;
    padding-left: 5px;
    margin-top: 10px;
    color: #757575;
    outline: none;
}
#profile-modal #link-question > span{
    font-size:12px;
    color:#737373;
}
#profile-modal #link-question > span:nth-child(2){
    margin-left: 5px;
    color: #FF541C;
}
#profile-modal #logout{
    width: 100%;
    height: 35px;
    line-height: 34px;
    color: #000000;
    border: 1px solid #E0E0E0;
    background: linear-gradient(#FFFFFF,#F1F1F1);
    border-radius: 4px;
    text-align: center;
    margin: 15px 0;
    font-size: 12px;
}
#profile-modal #logout:hover{
    background:#f3f3f3;
}





/*<Action /> Global 컴포턴트*/
.action{
    width: 100%;
    height: 36px;
    padding: 4px 20px;
    /*background-color: #f7f7f7;*/
    position: fixed;
    top: 50px;
    z-index: 2;
    border-bottom: 1px solid #d8d8d8;
}

.action-btn{
    padding:0 10px;
    float:left;
    margin-right:5px;
}

.action-btn:hover{
    border-radius: 3px;
    background:#f7f7f7;
}
.action-btn > span {
    line-height:28px;
    height:28px;
    font-size:13px;
}


/*<DesignsAction />*/
#designs-action .mode-wrapper{
    position:absolute;
    width:120px;
    margin-left:-60px;
    left:50%;
    height:27px;
}
#designs-action .mode-btn{
    float: left;
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    color: rgba(16, 16, 16, 0.77);
    border-radius: 6px;
    line-height: 27px;
    height: 27px;
    text-align: center;
}
#designs-action .mode-btn:nth-child(2){
    margin-left:10px;
}
#designs-action .mode-selected{
/*    background: #F7F7F7;
    color: #FF3838;*/
}

#sort{
    height:24px;
    padding:0px 10px;
    float:right;
}
#add-btn{
    background: url('../images/add.png') 50% 50% no-repeat;
    width: 10px;
    height: 26px;
    float: left;
    margin-right:5px;
    background-size: contain;
}


#edit-btn{
    background: url('../images/edit.png') 50% 50% no-repeat;
    width: 12px;
    height: 24px;
    float: left;
    margin-right: 5px;
    background-size: contain;
}
#sort-btn{
    background: url('../images/sort-option.png') 50% 45% no-repeat;
    width: 10px;
    height: 26px;
    /* transform: rotate(180deg); */
    float: left;
    margin-left:10px;
    background-size: contain;
}


/*<VersionAction />*/
#version-action{
    background:white;
}

#version-loader{
    background: url('../images/loader.gif') 50% 50% no-repeat;
    width: 120px;
    margin-left:-60px;
    left:50%;
    height:28px;
    background-size: 110px;
    position:absolute;
}

.mode-wrapper{
    position:absolute;
    width:120px;
    margin-left:-60px;
    left:50%;
    height:27px;
}
.mode-btn{
    float: left;
    font-size: 12px;
    font-weight: 500;
    color: rgba(117, 117, 117, 0.77);
    line-height: 27px;
    height: 27px;
    width: 50%;
    text-align: center;
}
.mode-btn:nth-child(2){
    /*margin-left:10px;*/
}
.mode-selected{
    font-weight:bold;
    color: #1f1f1f;
}

/*<VersionAction Back />*/
#version-action #go-back{
    height: 28px;
    float: left;
    padding:0;
}

#version-action #go-back #text{
    height: 28px;
    line-height:28px;
    font-size:12px;
    float: left;
    padding-right: 8px;
    max-width:200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#version-action #go-back #btn{
    background:url('../images/back.png') 50% 48% no-repeat;
    width:20px;
    height:28px;
    float:left;
}

/*<VersionAction Layout />*/
#version-action #layout{
    float:right;
    padding:0px 10px;
}
#version-action #layout #btn{
    background: url('../images/sort-option.png') 50% 45% no-repeat;
    width: 10px;
    height: 28px;
    /* transform: rotate(180deg); */
    float: left;
    margin-left: 10px;
    background-size: contain;
}
#version-action #layout #text{
    height: 24px;
    line-height: 28px;
    font-weight: 400;
    font-size: 12px;
    float: left;
    color: black;
}

/*<CompareAction />*/
#compare-action{
    background:white;
}

/*<CompareAction GoBack />*/
#compare-action #go-back{
    height: 28px;
    float: left;
    padding:0;
}

#compare-action #go-back #text{
    height: 28px;
    line-height:28px;
    font-size:12px;
    float: left;
    padding-right: 8px;
    max-width:200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#compare-action #go-back #btn{
    background:url('../images/back.png') 50% 48% no-repeat;
    width:20px;
    height:28px;
    float:left;
}

/*<CompareAction Create />*/
#compare-action #create{
    float: right;
    /* background: linear-gradient(#FFFFFF,#F7F7F7); */
    border-radius: 5px;
    height: 27px;
    line-height: 28px;
    padding: 0 8px;
    /* border: 1px solid #D2D2D2; */
}

#compare-action #create #text{
    font-size: 13px;
    float: left;
    color: #3C3C3C;
}
#compare-action #create #text:hover{
    background:#f3f3f3;   
}
#compare-action #create-error{
    position: absolute;
    top: 28px;
    z-index: 3;
    background-color: #FF2C2C;
    color: white;
    font-size: 12px;
    line-height: 20px;
    padding: 3px 15px;
    border-radius: 3px;
    right: 5px;
}



/*<Designs />*/
#designs-drag-over{
    position:absolute;
    width:100%;
    z-index:1;
    background: rgba(174, 199, 255, 0.27);
    border:2px solid #a3d9ff;
    display:none;
}
#designs-guide #title{
    position: absolute;
    margin-top: -15px;
    width: 300px;
    height: 30px;
    text-align: center;
    top: 50%;
    margin-left: -150px;
    left: 50%;
    font-size: 16px;
    color: #BDBDBD;
}






/*ImageAction의 CSS 작업*/
#go-back{
	height: 26px;
	float: left;
	padding-right: 8px;
}
#go-back-btn{
	background:url('../images/back.png') 50% 50% no-repeat;
	width:20px;
	height:26px;
	float:left;
}
#go-back-title{
	float: left;
	line-height: 26px;
	color: black;
	font-weight: 300;
	padding: 0px 3px;
	letter-spacing: 0px;
	font-size:13px;
}
#folder{
	float: right;
	line-height: 26px;
	color: black;
	font-weight: 500;
	padding: 0px 5px;
	letter-spacing: 0px;
	font-size: 12px;
	height: 100%;
	width: 65px;
	text-align: center;
}
/*#compare{
	float: right;
	background:url('../images/compare.png') 50% 50% no-repeat;
	height: 100%;
	width: 40px;
}*/


#status{
	width:200px;
	position:absolute;
	margin-left:-100px;
	left:50%;
	margin-top:-5px;
	height:100%;
	/*border-left:1px solid #d3d3d3;*/
	/*border-right:1px solid #d3d3d3;*/
}

/*<Version />*/

#version{
	/*padding:0 20px;*/
	padding-top:35px;
	overflow-y:scroll;
}
#version-body{
    overflow-y:scroll;
}

.version-height-bar{
    float: left;
    border-bottom: 1px dashed #D6D6D6;
    width: 100%;
    height: 1px;
}

.version-item{
	padding:20px;
	float:left;
    transition:0.3s -webkit-filter ease;
}

.version-item-selected .version-img{
    border:1px solid #1d2df7;
}
.version-item-selected .version-img-holder{
    background:#1d2df7;
}

.version-img-holder{
    padding:3px;
    margin:0 auto;
    border-radius:3px;
    opacity:0;
    transition:0.3s opacity ease;
}
.version-img{
    border:1px solid #e8e8e8;
    margin:0 auto;
    display:block;
    background:white;
}
.version-counter{
    text-align: center;
    font-size: 16px;
    color: #353535;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    line-height: 20px;
}
.version-date{
    text-align: center;
    font-size: 12px;
    height: 20px;
    font-weight: 500;
    line-height: 20px;
    color: #505050;
}
.version-item .message input{
    width: 300px;
    text-overflow: ellipsis;
    display: block;
    margin: 0 auto;
    color: #6F6F6F;
    text-align: center;
    border: none;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    border-radius: 5px;
    outline: none;
}
.version-item .message input:focus{
    border: 1px solid #51a7e8 !important;
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5)
}
.version-item .message input::-webkit-input-placeholder{
    font-style:italic;
}
.version-item .message input:hover{
    border:1px solid #d3d3d3;
}






/*design Stylesheet*/
#designs-body{
	/*float:left;*/
	overflow-y:scroll;
}

/*<RecentlyAdded />*/
#recently-added{
    /*float:left;*/
    padding: 0 20px;
    margin-top: 20px;
}
#recently-added #title{
    font-size: 15px;
    border-bottom: 1px solid #efefef;
    line-height: 35px;
    margin-bottom: 10px;
    padding-left: 3px;
    color: rgba(0, 0, 0, 0.95);
}

#recently-added #item-holder{
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
}
.recent-item{
    float:left;
    width:150px;
    background-color:white;
    margin-right:10px;
}

.recent-item .cover{
    width:150px;
    height:150px;
    padding:3px;
    margin:0 auto;
    /*overflow:hidden;*/
    border-radius:3px;
}

.recent-item-selected .cover{
    background-color: #1d2df7;
}
.recent-item-selected .cover-img-holder{
    border: 1px solid #1d2df7 !important;
}

.recent-item .cover-img-holder{
    width:100%;
    height:100%;
    overflow:hidden;
    border:1px solid #e3e3e3;
    background:white;
}
.recent-item .cover-img-loader{
    width:100%;
    height:100%;
    background:url('../images/loader.png') 50% 50% no-repeat;
    background-size:contain;
}
.recent-item .cover-img{
    position:absolute;
}
.recent-item .info{
    width:100%;
}
.recent-item .title{
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 4px;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 8px;
    float: left;
    max-width: 90%;
}
.recent-item .date{
    font-size: 12px;
    line-height: 17px;
    color: rgba(121, 121, 121, 0.72);
    font-weight: 200;
    float: left;
    margin-left: 4px;
}

/*<NowWorking />*/
#now-working{
    padding: 0 20px;
    margin-top:20px;
    transition:3s all ease;
    float:left;
}
#now-working #title{
    font-size: 16px;
    line-height: 40px;
    padding-left: 3px;
    color: #424242;
}


#now-working-item{
    float:left;
    width:150px;
    background-color:white;
    margin-right:10px;
}

#now-working-item .cover{
    width:150px;
    height:150px;
    padding:3px;
    margin:0 auto;
    /*overflow:hidden;*/
    border-radius:3px;
}

#now-working-item-selected .cover{
    background-color: #1d2df7;
}
#now-working-item-selected .cover-img-holder{
    border: 1px solid #1d2df7 !important;
}

#now-working-item .cover-img-holder{
    width:100%;
    height:100%;
    overflow:hidden;
    border:1px solid #e3e3e3;
    background:white;
}
#now-working-item .cover-img-loader{
    width:100%;
    height:100%;
    background:url('../images/loader.png') 50% 50% no-repeat;
    background-size:contain;
}
#now-working-item .cover-img{
    position:absolute;
}
#now-working-item .info{
    width:100%;
}
#now-working-item .title{
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    color: #545454;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 4px;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 8px;
    float: left;
    max-width: 90%;
}
#now-working-item .date{
    font-size: 12px;
    line-height: 17px;
    color: rgba(121, 121, 121, 0.72);
    font-weight: 200;
    float: left;
    margin-left: 4px;
}



#designs .item{
	top:20px;
	float:left;
	width:150px;
	background-color:white;
	margin-bottom:15px !important;
    margin-right:10px;
    margin-left:10px;
    transition:1s -webkit-filter ease;
}

#designs .item .cover{
    width:150px;
    height:150px;
    padding:3px;
    margin:0 auto;
    /*overflow:hidden;*/
    border-radius:3px;
}

#designs .item-selected .cover{
    background-color: #1d2df7;
}
#designs .item-selected .cover-img-holder{
    border: 1px solid #1d2df7 !important;
}

#designs .item .cover-img-holder{
    width:100%;
    height:100%;
    overflow:hidden;
    border:1px solid #e3e3e3;
    background:white;
}
#designs .item .cover-img-loader{
    width:100%;
    height:100%;
    background:url('../images/loader.png') 50% 50% no-repeat;
    background-size:contain;
}
#designs .item .cover-img{
    position:absolute;
}

#designs .item-selected .cover{

}
#designs .item-selected .title{
/*    background: #42abff;
    font-weight:500 !important;
    color: white !important;*/
}
#designs .item-selected .date{
    color:red;
}
#designs .item-selected .info{

}

#designs .item .info{
    width:100%;
}
#designs .item .title{
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    color: #545454;
    padding: 0px 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 3px;
    border-radius: 3px;
    font-weight: 600;
    margin-top: 3px;
    float: left;
    max-width: 90%;
}

#designs .item .date{
    font-size: 11px;
    height:13px;
    color: #8a8a8a;
    font-weight: 200;
    float:left;
    margin-left:3px;
    padding:0 5px;
}

/*.design-status-holder{
	width: 14px;
    height: 18px;
    padding: 6px 4px;
    position: absolute;
    bottom: 18px;
    left: 5px;
     background-color: white; 
     border-right: 1px solid #CACACA; 
    z-index: 1;
}
.design-status-red{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: black;
}
.design-status-input{
	display:none;
}*/

#design-status{
    width: 400px;
    border-right: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    margin: 0 auto;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #2F2F2F;
    font-weight: 200;
    text-align: center;
}



#add-input{
    display:none;
}


/*<Compare />*/
#compare{
    margin-top:35px;
}

#compare-search{
    margin-bottom:20px;
}

.search-section{
    width:50%;
    float:left;
}
.search-section input {
    width:200px;
    height:50px;
    margin:0 auto;
    display:block;
    line-height:50px;
    border:none;
    outline:none;
    border-bottom:1px solid #efefef;
    text-align:center;
    font-size:17px;
}



.compare-section{
    float:left;
    width:50%;
}
/*<Compare Item />*/
.compare-item{
    padding:20px;
    padding-top:0;
    transition:0.3s -webkit-filter ease;
}

.compare-img{
    display:block;
    margin:0 auto;
    border:1px solid #e8e8e8;
    background:white;
    transition:0.3s opacity ease;
}
.compare-item .date{
    text-align: center;
    font-size: 13px;
    height: 20px;
    font-weight: 500;
    line-height: 20px;
    color: #505050;
    margin-top:10px;
}
.compare-item .message input{
    width: 300px;
    text-overflow: ellipsis;
    display: block;
    margin: 0 auto;
    color: #6F6F6F;
    text-align: center;
    border: none;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    border-radius: 5px;
    outline: none;
}
.compare-item .message input:focus{
    border: 1px solid #51a7e8 !important;
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5)
}
.compare-item .message input::-webkit-input-placeholder{
    font-style:italic;
}
.compare-item .message input:hover{
    border:1px solid #d3d3d3;
}



/*<Compare NotFound />*/
.compare-404{
    text-align:center;
    padding:20px;
}
.compare-404 .title{
    color: #BBBBBB;
    font-size: 15px;
    margin-bottom: 5px;
}
.compare-404 .exp{
    color:rgba(255,66,66,0.62);
    font-size:12px;
}

/*<Post />*/
#post{
    width:300px;
    position:absolute;
    z-index:1;
    right:0;
    padding:15px;
    background:white;
    border-left:1px solid #d3d3d3;
    overflow-y:scroll;
    transition:0.3s right ease;
}

#post #title{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 6px;
}
#post #exp{
    line-height: 17px;
    font-size: 13px;
    color: #8C8C8C;
    margin-bottom: 13px;
    border: 1px solid #efefef;
    padding: 10px;
    border-radius: 5px;
    background: #F9F9F9;
}

#post-title-input{
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    line-height: 30px;
    height: 40px;
    padding: 10px 0;
    font-size: 18px;
    /* border: 1px solid #DEDEDE; */
    color: #424242;
    margin-top: 5px;
    font-weight: 300;
    font-family: 'Open Sans';
    letter-spacing: -0.2px;
}
#post-title-input::-webkit-input-placeholder{
    font-weight:200;
}
#post-title-input:focus{
    border-bottom: 1px solid #51a7e8 !important;
    /*box-shadow:inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5)*/
}

#post-text-input{
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    line-height: 20px;
    height: 40px;
    padding: 10px 10px;
    font-size: 13px;
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    margin-top: 5px;
    box-shadow: inset 0px 2px 1px rgba(239, 239, 239, 0.36);
}
#post-text-input::-webkit-input-placeholder{
    font-weight:300;
}
#post-text-input:focus{
    border: 1px solid #51a7e8 !important;
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5)
}

#post-submit{
    float: left;
    border: 1px solid #efefef;
    background: linear-gradient(#51a7e8,#007BDE);
    padding: 4px 20px;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 12px;
    width:67px;
    height:24px;
}
#post-submit:hover{
    background:#007bde;
}

#post-error{
    color:#ff4949;
    font-size:13px;
    margin-top:5px;
}

#post-success{

}

#post-success input{
    width: 100%;
    font-size: 12px;
    height: 25px;
    padding-left: 5px;
    margin-top: 10px;
    color: #757575;
    outline: none;
}







